:root {
  --brand-primary: #36FCFF;
  --brand-sub: #FF8080;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

.hello-world {
  color: var(--brand-primary);
  text-shadow: 0 2px 0 var(--brand-sub);
}