:root {
  --brand-white: #fff;
  --brand-black: #333;
  --brand-gray: #6F6F6F;
  --brand-gray-lt: #C7C7C7;
  --brand-link: #3EB1EC;
  --border-radius-base: 6px;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

@import "selectors.css";
@import "type.css";
@import "panel.css";