$black:  #505057; /* text black */
$blacker: #3a3a3a; /* heading black */
$white: #fff;

$gray-lt: #f0f0f0;
$gray: #eee; /* default gray (light) */
$gray-dk: #888; /* darkened */
$off-gray: #E0E0E0; /* the most visible gray */

$crimson: #E85C41;
$aqua: #6DC5DC;
$leaf: #60ab50;
$sun: #efe52d;

$base-font-size: 14px;
$base-line-height: 1.7;

$rounded: 25px;
$rounded-slightly: 3px;

$vertical-spacing: 25px;